html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to top, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}

header{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
}
.navbar{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.navbar a{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 28px;
    font-size: 13px;
}
  
  .navbar a:hover{
    color: #1de7f5;
}

/* Intro content styling */
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%); */
    height: 100vh;
}

.wrapper {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left, .right {
    margin:5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    align-items: center;
    justify-content: center;
}

#profile-picture {
    border-radius: 50%;
}

#name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
}

/* Projects content styling */
#projects{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}
.wrap {
    position: relative;
    margin: auto;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 520px;
}

.slide1 {background-image: url("img/YelpCamp.png")}
.slide2 {background-image: url("img/Padatap.png")}
.slide3 {background-image: url("img/RGB-Game.png")}
.slide4 {background-image: url("img/Todo\ List.png")}
.slide5 {background-image: url("img/Survey\ Form.png")}
.slide6 {background-image: url("img/Tribute\ Page.png")}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    position: absolute;
    bottom: 15px;
    font-size: 1.5rem;
    color: #fff;
}

.slide-content span a{
    color: #fff;
    text-decoration: blink;
    padding-right: 15px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

#pause {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-top: 25px;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

#pause span{
    margin: auto;
    padding-bottom: 5px;
    padding-left: 2px;
}

/* Links Styling */
#links{
    display: flex;
    justify-content: center;
}

#links li {
    display: inline-block;
    margin: -10px 8px 20px 0px;
    
}

#logo{
    width: 63px;
    height: 70px;
    margin: 0px 5px;
}